<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YandexAppEventsValidator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>YandexAppEventsValidatorTestApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8AE09DEA1EE83C2C00B88E45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AE09E041EE83C6B00B88E45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AE09E101EE83C7C00B88E45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
